{% extends "card.html" %}

{% block title %}Correo enviado{% endblock title %}

{% block card %}
<!-- Nested Row within Card Body -->
<div class="row">
  <div class="col-lg-12">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h3 text-gray-900 mb-4">{% block page-heading %}¡Correo enviado!{% endblock %}</h1>
      </div>
      {% block content %}
      <div class="text-center">
        <p>Te enviamos un e-mail con las instrucciones para establecer tu contraseña.</p>
        <p>Si no llega en unos minutos, por favor revisá el correo no deseado.</p>
      </div>
      {% endblock content %}
    </div>
  </div>
</div>
{% endblock card %}