{% extends "card.html" %}
{% load crispy_forms_tags %}

{% block card %}
<div class="row justify-content-center">
  <div class="col-lg-8 m-4 p-2">
    {% if validlink %}
    <legend>Por favor, ingrese y confirme su nueva contraseña.</legend>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="float-right">
        <div>
          <input type="button" name="cancel" value="Cancelar" class="btn btn-dark" id="button-id-cancel"
            onclick="window.location.href = '/';">
          <input type="submit" value="Cambiar contraseña" class="btn btn-primary" id="submit-id-save">
        </div>
      </div>
    </form>
    {% else %}
    <h2 class="text-danger">El proceso de restablecimiento de contraseña ha fallado.</h2>
    <p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un
      nuevo
      restablecimiento de contraseña.</p>
    {% endif %}
  </div>
</div>
{% endblock %}