{% extends "registration/login.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock title %}

{% block page-heading %}
<i class="fas fa-key"></i>
{{ title }}
{% endblock page-heading %}

{% block content %}
<div class="alert alert-dark" role="alert">
  {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
</div>
<form action="" method="post">
  {% csrf_token %}
  <span class="text-danger">{{ form.email.errors }}</span>
  <div id="div_id_email" class="form-group">
    <input type="email" name="email" autofocus autocomplete="email" maxlength="254" required id="id_email"
      class="emailinput form-control" aria-describedby="emailHelp">
  </div>
  {{ form.captcha }}
  <input type="submit" class="btn btn-dark btn-user btn-block" value="{% translate 'Reset my password' %}">
</form>
{% endblock %}