<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-print-none" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
    <div class="sidebar-brand-icon"><i class="fas fa-chart-line"></i></div>
    <div class="sidebar-brand-text mx-3">Costos</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  {% url 'index' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Tablero principal</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  {% if user.is_authenticated %}
  <!-- Heading -->
  <div class="sidebar-heading">
    {% if user.empresa %}
    {{ user.empresa }}
    {% else %}
    Mi Empresa
    {% endif %}
  </div>
  {% if not user.empresa %}
  {% url 'empresa_create' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-building"></i>
      <span>Crear Mi Empresa</span>
    </a>
  </li>
  {% else %}
  {% url 'empresa_detail' user.empresa.pk as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-building"></i>
      <span>Mi Empresa</span>
    </a>
  </li>
  <!-- Nav Item - Profesionales Menu -->
  {% url 'profesional_list' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-users"></i>
      <span>Profesionales</span>
    </a>
  </li>
  <!-- Nav Item - Instrumentos Menu -->
  {% url 'instrumento_list' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-ruler-combined"></i>
      <span>Instrumentos</span>
    </a>
  </li>
  <!-- Nav Item - Vehiculos Menu -->
  {% url 'vehiculo_list' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-truck-monster"></i>
      <span>Vehículos</span>
    </a>
  </li>
  <!-- Nav Item - Trabajos Menu -->
  {% url 'trabajo_list' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-map"></i>
      <span>Trabajos</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    Ayuda
  </div>
  {% url 'contact' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Contacto</span>
    </a>
  </li>
  {% endif %}
  {% if user.is_staff %}
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    Administración
  </div>
  <!-- Nav Item - admin -->
  {% url 'admin:index' as url %}
  <li class="nav-item{% if request.path == url %} active{% endif %}">
    <a class="nav-link" href="{{ url }}">
      <i class="fas fa-fw fa-toolbox"></i>
      <span>admin</span>
    </a>
  </li>
  {% endif %}
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  {% endif %}
</ul>
<!-- End of Sidebar -->