{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contacto{% endblock %}

{% block page-heading %}
<i class="fas fa-envelope"></i>
Contacto
{% endblock %}

{% block content %}
{% if user.email %}
<div class="card border-left-primary shadow mb-4">
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  No tiene configurada una dirección de email válida para enviarnos su consulta. Por favor, ingrese una en su <a
    href="{% url 'profesional_update' user.pk %}" class="alert-link">Perfil</a>.
</div>
{% endif %}
{% endblock %}