{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block title %}Profesionales{% endblock %}

{% block page-heading %}
<i class="fas fa-users text-info"></i>
Profesionales {% if user.empresa %}de <strong>{{ user.empresa }}</strong>{% endif %}
{% endblock page-heading %}
{% block page-heading-buttons %}
<div class="btn-group d-print-none" role="group" aria-label="Actions">
  <a onclick="window.print();" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
    <i class="fas fa-print fa-sm text-white-50"></i> Imprimir</a>
</div>
{% endblock page-heading-buttons %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      Listado de profesionales que trabajan en <strong>{{ user.empresa }}</strong>.
      Para agregar nuevos profesionales, por favor contáctenos <a class="alert-link"
        href="{% url 'contact_prefilled' 'Agregar profesionales a '|add:user.empresa.nombre 'Listado de profesionales (matrícula y nombre)' %}">aquí</a>.
      <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Costo x hora</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>
              <a href="{{ object.get_absolute_url }}">{{ object.matricula }}</a>
            </td>
            <td>{{ object.apellido|upper }} {{ object.nombre }}</td>
            <td>$ {{ object.costo_por_hora }}</td>
            <td>
              <a href="{{ object.get_absolute_url }}" class="btn btn-info btn-circle btn-sm" title="Ver">
                <i class="fas fa-info"></i>
              </a>
              <a href="{{ object.get_update_url }}" class="btn btn-primary btn-circle btn-sm" title="Editar">
                <i class="fas fa-pen"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/js/dataTables.config.js' %}"></script>
{% endblock javascripts %}