{% extends "base.html" %}
{% block title %}Trabajos{% endblock %}

{% block page-heading %}
<i class="fas fa-map"></i>
<span class="pr-4">Trabajos {% if user.empresa %}de <strong>{{ user.empresa }}</strong>{% endif %}</span>
{% endblock page-heading %}
{% block page-heading-buttons %}
{% if user.empresa %}
<div class="btn-group d-print-none mr-auto py-1" role="group" aria-label="Preferences">
  <a href="{% url 'profesional_preferences' 'trabajo' %}" class="d-sm-inline-block btn btn-sm btn-outline-danger shadow-sm">
    <i class="fas fa-cogs fa-sm"></i> Preferencias</a>
</div>
<div class="btn-group d-print-none" role="group" aria-label="Actions">
  <a onclick="window.print();" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
    <i class="fas fa-print fa-sm text-white-50"></i> Imprimir</a>
  <a href="{% url 'trabajo_create' %}" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
    <i class="fas fa-plus fa-sm text-white-50"></i> Agregar</a>
</div>
{% endif %}
{% endblock page-heading-buttons %}

{% block content %}
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        {% include "helpers/paginate_by_control.html" %}
      </div>
      <div class="col-sm-12 col-md-7">
        {% include "helpers/search_control.html" %}
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <form class="form-inline" action="." method="get">
              <th>Expediente
                <input type="hidden" id="order" name="order"
                  value="{% if request.GET.order == 'expediente' %}-expediente{% else %}expediente{% endif %}">
                <button type="submit" class="btn btn-sm">
                  <i class="fas fa-fw {% if 'expediente' not in request.GET.order %}fa-sort{% elif request.GET.order == 'expediente' %}fa-sort-down{% else %}fa-sort-up{% endif %} mx-1"></i>
                </button>
              </th>
            </form>
            <form class="form-inline" action="." method="get">
              <th>Comitente
                <input type="hidden" id="order" name="order"
                  value="{% if request.GET.order == 'comitente' %}-comitente{% else %}comitente{% endif %}">
                <button type="submit" class="btn btn-sm">
                  <i class="fas fa-fw {% if 'comitente' not in request.GET.order %}fa-sort{% elif request.GET.order == 'comitente' %}fa-sort-down{% else %}fa-sort-up{% endif %} mx-1"></i>
                </button>
              </th>
            </form>
            <form class="form-inline" action="." method="get">
              <th>Fecha
                <input type="hidden" id="order" name="order"
                  value="{% if request.GET.order == 'fecha' %}-fecha{% else %}fecha{% endif %}">
                <button type="submit" class="btn btn-sm">
                  <i class="fas fa-fw {% if 'fecha' not in request.GET.order %}fa-sort{% elif request.GET.order == 'fecha' %}fa-sort-down{% else %}fa-sort-up{% endif %} mx-1"></i>
                </button>
              </th>
            </form>
            <form class="form-inline" action="." method="get">
            <th>Costo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>
              <a href="{{ object.get_absolute_url }}">
                {% if object.expediente %}{{ object.expediente }}{% else %}S/N{% endif %}
              </a>
            </td>
            <td>{{ object.comitente }}</td>
            <td>{{ object.fecha }}</td>
            <td>$ {{ object.costo_total }}</td>
            <td>
              <a href="{{ object.get_csv_url }}" class="btn btn-outline-secondary btn-circle btn-sm" title="Descargar CSV">
                <i class="fas fa-download"></i>
              </a>
              <a href="{{ object.get_absolute_url }}" class="btn btn-info btn-circle btn-sm" title="Ver">
                <i class="fas fa-info"></i>
              </a>
              <a href="{{ object.get_update_url }}" class="btn btn-primary btn-circle btn-sm" title="Editar">
                <i class="fas fa-pen"></i>
              </a>
              <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-circle btn-sm" title="Eliminar">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      {% include "helpers/pagination_bar.html" %}
    </div>
  </div>
</div>
{% endblock content %}