{% extends "base.html" %}
{% load l10n %}
{% block title %}Trabajo {{ object }}{% endblock %}

{% block page-heading %}
<i class="fas fa-map"></i>
Trabajo /
<span class="text-primary">{{ object }}</span>
{% endblock page-heading %}
{% block page-heading-buttons %}
<div class="btn-group d-print-none" role="group" aria-label="Actions">
  <a href="{{ object.get_csv_url }}" class="d-sm-inline-block btn btn-sm btn-outline-secondary shadow-sm" title="Descargar en formato CSV">
    <i class="fas fa-download fa-sm"></i> Descargar</a>
  <a onclick="window.print();" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
    <i class="fas fa-print fa-sm text-white-50"></i> Imprimir</a>
  <a href="{{ object.get_delete_url }}" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
    <i class="fas fa-trash fa-sm text-white-50"></i> Eliminar</a>
  <a href="{{ object.get_update_url }}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-pen fa-sm text-white-50"></i> Editar</a>
</div>
{% endblock page-heading-buttons %}

{% block content %}
<!-- Datos del Expediente -->
<div class="row mb-2">
  <div class="col-lg-3 col-md-6 mb-2">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Fecha</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ object.fecha }}
            </div>
          </div>
          <div class="col-auto">
            <i class="far fa-calendar-check fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-2">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Expediente</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {% if object.expediente %}{{ object.expediente }}{% else %}S/N{% endif %}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-folder-open fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-8 mb-2">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Comitente</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ object.comitente }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-file-signature fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 mb-2">
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
              Horas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ object.horas_total }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clock fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-lg-3 col-md-6 mb-2">
    <div class="card bg-info text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-white-50 small font-weight-bold text-uppercase"># profesionales</div>
            <div class="h5 mb-0 font-weight-bold">{{ object.cantidad_de_profesionales }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-2">
    <div class="card bg-success text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-white-50 small font-weight-bold text-uppercase"># vehículos</div>
            <div class="h5 mb-0 font-weight-bold">{{ object.cantidad_de_vehiculos }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-truck-monster fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-2">
    <div class="card bg-warning text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-white-50 small font-weight-bold text-uppercase"># instrumentos</div>
            <div class="h5 mb-0 font-weight-bold">{{ object.cantidad_de_instrumentos }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-ruler-combined fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-2">
    <div class="card bg-dark text-white shadow">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-white-50 small font-weight-bold text-uppercase">Costo Total</div>
            <div class="h5 mb-0 font-weight-bold">$ {{ object.costo_total }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Detalles por rubro -->
<div class="row">
  <div class="col">
    <div class="card border-left-primary shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Detalle de costos por rubro</strong>
        </h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">Proporciones <span class="float-right">100%</span>
        </h4>
        <div class="progress mb-2" style="height: 30px;">
          <div title="Empresa" class="progress-bar bg-primary" role="progressbar"
            style="width: {{ object.proporcion_empresa|safe }}%" aria-valuenow="{{ object.proporcion_empresa|safe }}"
            aria-valuemin="0" aria-valuemax="100">{{ object.proporcion_empresa|safe }}%</div>
          <div title="Actuantes" class="progress-bar bg-info" role="progressbar"
            style="width: {{ object.proporcion_actuantes|safe }}%"
            aria-valuenow="{{ object.proporcion_actuantes|safe }}" aria-valuemin="0" aria-valuemax="100">
            {{ object.proporcion_actuantes|safe }}%</div>
          <div title="Movilidad" class="progress-bar bg-success" role="progressbar"
            style="width: {{ object.proporcion_movilidad|safe }}%"
            aria-valuenow="{{ object.proporcion_movilidad|safe }}" aria-valuemin="0" aria-valuemax="100">
            {{ object.proporcion_movilidad|safe }}%</div>
          <div title="Instrumental" class="progress-bar bg-warning" role="progressbar"
            style="width: {{ object.proporcion_instrumental|safe }}%"
            aria-valuenow="{{ object.proporcion_instrumental|safe }}" aria-valuemin="0" aria-valuemax="100">
            {{ object.proporcion_instrumental|safe }}%</div>
          <div title="Aportes" class="progress-bar bg-danger" role="progressbar"
            style="width: {{ object.proporcion_aportes|safe }}%" aria-valuenow="{{ object.proporcion_aportes|safe }}"
            aria-valuemin="0" aria-valuemax="100">{{ object.proporcion_aportes|safe }}%</div>
          <div title="Específicos" class="progress-bar bg-secondary" role="progressbar"
            style="width: {{ object.proporcion_especificos|safe }}%"
            aria-valuenow="{{ object.proporcion_especificos|safe }}" aria-valuemin="0" aria-valuemax="100">
            {{ object.proporcion_especificos|safe }}%</div>
        </div>
        <div class="table-responsive">
          <table class="table table-sm table-condensed table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Rubro</th>
                <th>Detalle</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary">
                <th><button class="btn btn-circle btn-sm btn-primary" id="empresa" onclick="details('empresa');">&plus;</button></th>
                <th>GASTOS DE EMPRESA</th>
                <td>{{ object.horas_total }} horas</td>
                <td style="text-align:right">$ {{ object.gastos_de_empresa }}</td>
              </tr>
              <tbody style="display:none" id="empresa-details">
                {% for o in object.actuantes.all %}
                <tr class="table-info">
                  <td></td>
                  <td>{{ o.profesional }}</td>
                  <td>{{ o.horas }} hs</td>
                  <td style="text-align:right" class="pr-4">$ {{ o.gasto_empresa }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tr class="table-info">
                <th><button class="btn btn-circle btn-sm btn-info" id="actuantes" onclick="details('actuantes');">&plus;</button></th>
                <th>COSTO DE ACTUANTES</th>
                <td>{{ object.cantidad_de_profesionales }}
                  profesional{% if object.cantidad_de_profesionales > 1 %}es{% endif %} - {{ object.horas_total }} horas
                </td>
                <td style="text-align:right">$ {{ object.costo_actuantes }}</td>
              </tr>
              <tbody style="display:none" id="actuantes-details">
                {% for o in object.actuantes.all %}
                <tr class="table-info">
                  <td></td>
                  <td>{{ o.profesional }}</td>
                  <td>{{ o.horas }} hs</td>
                  <td style="text-align:right" class="pr-4">$ {{ o.costo }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tr class="table-success">
                <th><button class="btn btn-circle btn-sm btn-success" id="movilidad" onclick="details('movilidad');">&plus;</button></th>
                <th>COSTO DE MOVILIDAD</th>
                <td>{{ object.cantidad_de_vehiculos }} vehículo{% if object.cantidad_de_vehiculos > 1 %}s{% endif %} -
                  {{ object.cantidad_de_km }} km</td>
                <td style="text-align:right">$ {{ object.costo_movilidad }}</td>
              </tr>
              <tbody style="display:none" id="movilidad-details">
                {% for o in object.movilidad.all %}
                <tr class="table-success">
                  <td></td>
                  <td>{{ o.vehiculo }}</td>
                  <td>{{ o.km }} km</td>
                  <td style="text-align:right" class="pr-4">$ {{ o.costo }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tr class="table-warning">
                <th><button class="btn btn-circle btn-sm btn-warning" id="instrumental" onclick="details('instrumental');">&plus;</button></th>
                <th>COSTO DE INSTRUMENTAL</th>
                <td>{{ object.cantidad_de_instrumentos }}
                  instrumento{% if object.cantidad_de_instrumentos > 1 %}s{% endif %} -
                  {{ object.cantidad_de_jornadas }} jornada{% if object.cantidad_de_instrumentos > 1 %}s{% endif %}</td>
                <td style="text-align:right">$ {{ object.costo_instrumental }}</td>
              </tr>
              <tbody style="display:none" id="instrumental-details">
                {% for o in object.instrumental.all %}
                <tr class="table-warning">
                  <td></td>
                  <td>{{ o.instrumento }}</td>
                  <td>{{ o.jornadas }} jornada{% if o.jornadas > 1 %}s{% endif %}</td>
                  <td style="text-align:right" class="pr-4">$ {{ o.costo }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tr class="table-danger">
                <th><button class="btn btn-circle btn-sm btn-danger" id="aportes" onclick="details('aportes');">&plus;</button></th>
                <th>APORTES PROFESIONALES</th>
                <td>CoPA + Caja</td>
                <td style="text-align:right">$ {{ object.aportes }}</td>
              </tr>
              <tbody style="display:none" id="aportes-details">
                <tr class="table-danger">
                  <td></td>
                  <td>Colegio</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.aporte_copa }}</td>
                </tr>
                <tr class="table-danger">
                  <td></td>
                  <td>Caja</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.aporte_caja }}</td>
                </tr>
              </tbody>
              <tr class="table-secondary">
                <th><button class="btn btn-circle btn-sm btn-secondary" id="especificos" onclick="details('especificos');">&plus;</button></th>
                <th>Demás gastos específicos</th>
                <td></td>
                <td style="text-align:right">$ {{ object.gastos_especificos }}</td>
              </tr>
              <tbody style="display:none" id="especificos-details">
                {% if object.partidas %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Sellado Fiscal</td>
                  <td>{{ object.partidas }} partida{% if object.partidas > 1 %}s{% endif %} -
                    {{ object.lotes_finales }} lote{% if object.partidas > 1 %}s{% endif %}</td>
                  <td style="text-align:right" class="pr-4">$ {{ object.sellado_fiscal }}</td>
                </tr>
                <tr class="table-secondary">
                  <td></td>
                  <td>
                    Informe{% if object.partidas > 1 %}s{% endif %}
                    Catastral{% if object.partidas > 1 %}es{% endif %}
                  </td>
                  <td>{{ object.partidas }} partida{% if object.partidas > 1 %}s{% endif %}</td>
                  <td style="text-align:right" class="pr-4">$ {{ object.informe_catastral }}</td>
                </tr>
                {% endif %}
                {% if object.escrituras %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Escrituras</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.escrituras }}</td>
                </tr>
                {% endif %}
                {% if object.visados %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Visados</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.visados }}</td>
                </tr>
                {% endif %}
                {% if object.ayudante %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Ayudante</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.ayudante }}</td>
                </tr>
                {% endif %}
                {% if object.viaticos %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Viáticos</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.viaticos }}</td>
                </tr>
                {% endif %}
                {% if object.mojones %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Mojones / estacas / cintas peligro</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.mojones }}</td>
                </tr>
                {% endif %}
                {% if object.alquiler_instrumentos %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Alquileres de instrumentos</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.alquiler_instrumentos }}</td>
                </tr>
                {% endif %}
                {% if object.seguros_especiales %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Seguros especiales / eventuales</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.seguros_especiales }}</td>
                </tr>
                {% endif %}
                {% if object.dibujante %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Dibujante</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.dibujante }}</td>
                </tr>
                {% endif %}
                {% if object.impresiones %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Impresiones / ploteos</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.impresiones }}</td>
                </tr>
                {% endif %}
                {% if object.gestor %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Gestor / Comisionista</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.gestor }}</td>
                </tr>
                {% endif %}
                {% if object.ccu %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Certificado Catastral Urgente</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.ccu }}</td>
                </tr>
                {% endif %}
                {% if object.estudio_titulos %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Estudio de Títulos</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.estudio_titulos }}</td>
                </tr>
                {% endif %}
                {% if object.georreferenciacion %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Georreferenciación / Vinculación POSGAR2007</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.georreferenciacion }}</td>
                </tr>
                {% endif %}
                {% if object.citaciones %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Citaciones / notificaciones certificadas</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.citaciones }}</td>
                </tr>
                {% endif %}
                {% if object.otros_gastos %}
                <tr class="table-secondary">
                  <td></td>
                  <td>Otros gastos sin categorizar</td>
                  <td></td>
                  <td style="text-align:right" class="pr-4">$ {{ object.otros_gastos }}</td>
                </tr>
                {% endif %}
              </tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
  function details(rubro) {
    var btn = "#" + rubro;
    var row = "#" + rubro + "-details";
    if ($(row).is(":hidden")) {
      $(btn).html("&minus;");
      $(row).show();
    }
    else {
      $(btn).html("&plus;");
      $(row).hide();
    }
  }
</script>
{% endblock %}