{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Trabajos{% endblock %}

{% block page-heading %}
<i class="fas fa-map"></i>
Trabajo /
<span class="text-primary">{% if object %}Editando {{ object }}{% else %}Agregando{% endif %}</span>
{% endblock %}

{% block content %}
<div class="card border-left-primary shadow mb-4">
  <div class="card-body">
    {% crispy form %}
  </div>
</div>
{% endblock %}

<!-- Bootstrap DatePicker -->
{% block stylesheets %}
{% include "helpers/datepicker.css.html" %}
{% endblock stylesheets %}
{% block javascripts %}
{% include "helpers/datepicker.js.html" %}
{% include "helpers/add_form_button.html" %}
{% endblock javascripts %}