{% extends "base.html" %}

{% block title %}Vehículos{% endblock %}

{% block page-heading %}
<i class="fas fa-truck-monster text-success"></i>
Vehículo /
<span class="text-primary">{{ object }}</span>
{% endblock page-heading %}
{% block page-heading-buttons %}
{% if object.empresa == user.empresa %}
<div class="btn-group d-print-none" role="group" aria-label="Actions">
  <a onclick="window.print();" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
    <i class="fas fa-print fa-sm text-white-50"></i> Imprimir</a>
  <a href="{{ object.get_delete_url }}" class="d-sm-inline-block btn btn-sm btn-danger shadow-sm">
    <i class="fas fa-trash fa-sm text-white-50"></i> Eliminar</a>
  <a href="{{ object.get_update_url }}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-pen fa-sm text-white-50"></i> Editar</a>
</div>
{% endif %}
{% endblock page-heading-buttons %}

{% block content %}
<div class="row mb-2">
  <!-- Valor -->
  <div class="col-xl-3 col-md-6 mb-2">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Valor reposición</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              $ {{ object.valor }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- KM anual -->
  <div class="col-xl-3 col-md-6 mb-2">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              kilometraje</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ object.kilometraje_anual }} km/año
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-tachometer-alt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Combustible -->
  <!-- <div class="col-xl-2 col-md-4 mb-2">
    <div class="card border-left-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
              {{ object.get_tipo_combustible_display }} $/lt</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ object.combustible_valor }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gas-pump fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Rendimiento -->
  <div class="col-xl-3 col-md-6 mb-2">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Rendimiento</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ object.rendimiento }} km/lt
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gas-pump fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Costo por km -->
  <div class="col-xl-3 col-md-6 mb-2">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
              Costo por km</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              $ {{ object.costo_km }}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-tachometer-alt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card border-left-primary shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Más datos</strong>
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th>Concepto</th>
                <th>Período</th>
                <th style="text-align: right;">Total</th>
                <th style="text-align: right;">por km</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Amortización</th>
                <td>50% a 5 años</td>
                <td style="text-align: right;">$ {{ object.valor_residual }}</td>
                <td style="text-align: right;">$ {{ object.amortizacion_valor }}</td>
              </tr>
              <tr>
                <th>Tipo Combustible</th>
                <td>{{ object.get_tipo_combustible_display }} (por litro/m&sup3;)</td>
                <td style="text-align: right;">$ {{ object.combustible_valor }}</td>
                <td style="text-align: right;">$ {{ object.combustible }}</td>
              </tr>
              <tr>
                <th>Cuota Patente</th>
                <td>Bimestral</td>
                <td style="text-align: right;">$ {{ object.costo_patente }}</td>
                <td style="text-align: right;">$ {{ object.amortizacion_patente }}</td>
              </tr>
              <tr>
                <th>Seguro</th>
                <td>Mensual</td>
                <td style="text-align: right;">$ {{ object.costo_seguro }}</td>
                <td style="text-align: right;">$ {{ object.amortizacion_seguro }}</td>
              </tr>
              <tr>
                <th>Cochera</th>
                <td>Mensual</td>
                <td style="text-align: right;">$ {{ object.costo_cochera }}</td>
                <td style="text-align: right;">$ {{ object.amortizacion_cochera }}</td>
              </tr>
              <tr>
                <th>Lubricante</th>
                <td>Semestral</td>
                <td style="text-align: right;">$ {{ object.costo_lubricante }}</td>
                <td style="text-align: right;">$ {{ object.lubricacion }}</td>
              </tr>
              <tr>
                <th>Lavado</th>
                <td>Mensual</td>
                <td style="text-align: right;">$ {{ object.costo_lavado }}</td>
                <td style="text-align: right;">$ {{ object.amortizacion_lavado }}</td>
              </tr>
              <tr>
                <th>Neumático</th>
                <td>Cada 40.000 km</td>
                <td style="text-align: right;">$ {{ object.costo_neumatico }}</td>
                <td style="text-align: right;">$ {{ object.amortizacion_neumaticos }}</td>
              </tr>
              <tr>
                <th>Service</th>
                <td>Cada 10.000 km</td>
                <td style="text-align: right;">$ {{ object.costo_service }}</td>
                <td style="text-align: right;">$ {{ object.service }}</td>
              </tr>
              <tr>
                <th>Revisión Técnica Obligatoria</th>
                <td>Cada 2 años</td>
                <td style="text-align: right;">$ {{ object.costo_rto }}</td>
                <td style="text-align: right;">$ {{ object.rto }}</td>
              </tr>
              <tr>
                <th>Reparaciones</th>
                <td>Anual</td>
                <td style="text-align: right;">$ {{ object.costo_anual_reparaciones }}</td>
                <td style="text-align: right;">$ {{ object.reparaciones }}</td>
              </tr>
              <tr>
                <th>Otros repuestos</th>
                <td>Anual, 2% del valor</td>
                <td style="text-align: right;">$ {{ object.repuestos }}</td>
                <td style="text-align: right;">$ {{ object.repuestos_por_km }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}