{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block page-heading %}{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="d-none d-md-block display-3">
    {% if user.first_name|default:""|slice:"-1:" == "a" %}¡Bienvenida!{% else %}¡Bienvenido!{% endif %}
  </h1>
  <h1 class="d-block d-sm-none display-5">
    {% if user.first_name|default:""|slice:"-1:" == "a" %}¡Bienvenida!{% else %}¡Bienvenido!{% endif %}
  </h1>
  {% if user.is_authenticated %}
  <p class="lead">En el panel lateral se encuentran los accesos para cada módulo. Arriba a la derecha, su perfil de
    usuario.</p>
  <p>Para mayor información, puede consultar la documentación oficial y los tutoriales del sistema.</p>
  <p class="lead">
    <a class="btn btn-outline-primary" href="#documentation" role="button"
      onclick="$('#collapseCardDoc').addClass('show');$('#collapseCardTutorial').removeClass('show');">Documentación</a>
    <a class="btn btn-outline-info" href="#tutorial" role="button"
      onclick="$('#collapseCardDoc').removeClass('show');$('#collapseCardTutorial').addClass('show');">Tutoriales</a>
    {% if user.email %}
    <a class="btn btn-outline-warning" href="{% url 'contact' %}" role="button">Soporte Técnico</a>
    {% endif %}
  </p>
  {% endif %}
</div>

{% if user.is_authenticated %}
<!-- Collapsable Card: Documentación -->
<div class="card shadow mb-4" id="documentation">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardDoc" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false"
    aria-controls="collapseCardDoc">
    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-book"></i> Cómo funciona</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardDoc">
    <div class="card-body">
      {% include "costos/doc/documentation.html" %}
    </div>
  </div>
</div>
<!-- Collapsable Card: Documentación -->
<div class="card shadow mb-4" id="tutorial">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardTutorial" class="d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="false" aria-controls="collapseCardTutorial">
    <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-question-circle"></i> Cómo utilizarlo</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardTutorial">
    <div class="card-body">
      {% include "costos/doc/tutorial.html" %}
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}