{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
<!-- block stylesheets %}{% endblock  -->
{% block page-heading %}{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-3">{% ifequal user.first_name|default:""|slice:"-1:" "a" %}¡Bienvenida!{% else %}¡Bienvenido!{% endifequal %}</h1>
  <p class="lead">En el panel lateral se encuentran los accesos para cada módulo. Arriba a la derecha, su perfil de usuario.</p>
  <hr class="my-4">
  <!-- <p>Para mayor información, puede consultar la documentación oficial y los tutoriales de cada módulo del sistema.</p>
  <p class="lead">
    <a class="btn btn-outline-primary" href="#" role="button">Documentación</a>
    <a class="btn btn-outline-info" href="#" role="button">Tutoriales</a>
    <a class="btn btn-outline-warning" href="#" role="button">Soporte Técnico</a>
  </p> -->
</div>
{% endblock content %}
<!-- block javascripts %}{% endblock -->
